*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section{
  background-color: rgb(220,220,220);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-registration-form{
  /* margin: 0 auto; */
  background-color: white;
  border-radius: 20px;
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-boxes{
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 80%;
}

.input-section,.form-title,.buttons{
  padding: 10px;
}


/* .input */